.burger-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-btn-wrapper:hover {
    cursor: pointer;
}

.burger-btn-wrapper .mobile-menu-text-wrapper {
    max-width: 10px;
}

.burger-btn-wrapper .mobile-menu-text-wrapper.hidden {
    max-width: 0;
    opacity: 0;
}
