.lang-switcher-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

.lang-switcher-wrapper.white-selected {
    border: 1px solid var(--main-black, #000);
}

.lang-switcher-wrapper.dark-selected {
    border: 1px solid var(--main-white, #FFF);
}

.lang-switcher-wrapper.white {
    background: var(--buttons-white-default, #FFF);
}

.lang-switcher-wrapper.dark {
    background: transparent;
}
