.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    height: 48px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--main-white, #FFF);
}

.header.dark {
    background-color: var(--dark-theme-bg, #1E1E1E);
}
