body {
  margin: 0;
    overflow-x: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Grotesque-500";
    src: local("Grotesque-500"),
    url('./assets/custom_fonts/RG-StandardMedium-500.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "ConsolasCustom";
    src: local("ConsolasCustom"),
    url('./assets/custom_fonts/CONSOLA.TTF') format("truetype");
    font-weight: normal;
}

.hidden {
    overflow-y: hidden !important;
}
